<div xmlns:th="http://www.thymeleaf.org" th:fragment="banner" class="fixed-banner">
  <style>
    .fixed-banner {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 38px;
      background-color: #22dff8;
      color: white;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }

    .right-buttons {
      margin-right: 20px;
      height: 100%;
      float: right;
    }

    .bannerbutton {
      background-color: #22dff8;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      text-decoration: none;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
    }

    .bannerbutton:hover {
      background-color: #2980b9;
    }

    .user-info {
      display: flex;
      align-items: center;
      margin-left: 20px;
    }

    .user-icon {
      width: 30px;
      height: 30px;
      background-color: #ddd;
      border-radius: 50%;
      margin-right: 10px;
      background-image: url('/images/user/userIco.png');
      background-size: cover;
      background-position: center;
    }

    .user-info-link {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    .user-info-link:hover {
      color: orange;
      text-decoration: underline;
    }
  </style>
  <div class="user-info">
    <a th:href="@{/members/edit}" class="user-info-link">
      <div class="user-icon"></div>
      <span th:text="${userFirstName} + ' ' + ${userLastName}">Имя Фамилия</span>
    </a>
    <a th:href="@{/rooms/getAll}" class="bannerbutton">Rooms</a>
  </div>

  <div class="right-buttons">
    <a th:if="${userRole} == 'ADMIN'" th:href="@{/admin}" class="bannerbutton">Admin Panel</a>
    <a href="/logout" class="bannerbutton">Logout</a>
  </div>
</div>
