<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Создать бронирование</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div th:replace="~{banner :: banner}"></div>

<h1>Создать бронирование для комнаты № <span th:text="${room.roomNumber}"></span></h1>

<form th:action="@{/reservations/create}" method="post">
  <input type="hidden" th:value="${room.roomNumber}" name="roomNumber"/>
  <input type="date" name="reservationFrom"/>
  <input type="date" name="reservationUntil"/>
  <input type="submit" value="Создать бронирование"/>
</form>

</body>
</html>