<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Список комнат</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div th:replace="~{banner :: banner}"></div>

<h1>Список комнат</h1>

<div class="rooms-container">
  <div th:each="room : ${rooms}" class="room">
    <a th:href="@{'/reservations/create/' + ${room.roomNumber}}">
      <h2 th:text="'Комната №' + ${room.roomNumber}"></h2>

      <div class="room-photo">
        <img th:if="${room.image}" th:src="@{'/images/rooms/' + ${room.image}}" alt="Room photo"/>
        <img th:unless="${room.image}" src="/images/rooms/notFound.jpg" alt="Default room photo"/>
      </div>

      <div class="room-info">
        <p th:text="'Класс: ' + ${room.roomClass}"></p>
        <p th:text="'Статус: ' + ${room.roomStatus}"></p>

        <p th:if="${room.roomStatus.name() == 'OCCUPIED' and room.currentReservationEnd != null}"
           th:text="'Забронировано до: ' + ${#dates.format(room.currentReservationEnd, 'yyyy-MM-dd HH:mm')}">
        </p>

        <p th:if="${room.roomStatus.name() == 'AVAILABLE' and room.nextReservationStart != null}"
           th:text="'Свободно до: ' + ${#dates.format(room.nextReservationStart, 'yyyy-MM-dd HH:mm')}">
        </p>

        <p th:text="'Capacity: ' + ${room.capacity}"></p>
      </div>
    </a>
  </div>
</div>

</body>
</html>
